
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>File</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="attachmentFileTBody">
        <tr>
            <td>
                @Html.TextBox("FileLists[0].FileBase", null, new
                                                {
                                                    @class = "col-md-12 form-control input-sm",
                                                    @type = "file",
                                                    @accept = "application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.slideshow, application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,text/plain, application/pdf,image/*"
                                                })
            </td>
            <td width="3%"><span class="btn btn-sm text-danger" onclick="$('#FileLists_0__FileBase').val('')" title="clear"><i class="icon-reset"></i></span></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td width="3%">
                <span onclick="addAttachmentFileRow()" class="btn btn-sm text-info"><i class="icon-plus-circle2"></i></span>
            </td>
        </tr>
    </tfoot>
</table>